@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: #000000;
  min-height: 100vh;
}

/* Hide scrollbar completely */
::-webkit-scrollbar {
  display: none;
}
/* Optional: For Firefox */
html {
  scrollbar-width: none;
}
